
.form-group label {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(0, 174, 255);
}
form button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 25px;
}
h2{
    color: rgb(0, 174, 255);
    font-size: 40px;
}
