
<form #quotesForm="ngForm" (ngSubmit)="submitQuote()">
    <div class="form-group">

        <label for="name">Enter your Name</label>
        <input type="text" required class="form-control" id="name" placeholder="Enter your name" :required>
        Display {{newQuote.name}}
    </div><br> 
    <div class="form-group">

        <label for="quote">Quote</label>
        <textarea class="form-control" id="Quote" rows="5" required></textarea>

    </div><br>
    <div class="form-group">

        <label for="author">Author</label>
        <input type="text" required class="form-control" id="Author" placeholder="Quote Author" required>

    </div><br>
</form>

    <button type="submit" class="btn btn-primary">Submit</button>