<div class="overlay">
    <h1>
      {{title}}
    </h1>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-7">
          <app-quote-form (add)="addedQuote($event)"></app-quote-form>
        </div>
      </div>
      <div class="container quotes-list">
        <h3>Quotes List</h3>
        <div class="all-cards">
          <div *ngFor="let quote of sortQuotes let i= index" class="card" style="width: 400px;"  >
            <div class="card-body">
              <h3>{{quote.title}}</h3>
              <p class="card-text" id="param">{{quote.quote}}</p>
              <p>-{{quote.author}}</p>
               <app-details *ngIf='quote.showInfo' bind-quoted='quote' (isRead)='quoteDelete($event,i)'></app-details>  
              Submitted by: {{quote.name}} 
              On: {{quote.datePosted|date}}
             
             </div>
            <button (click)='displayInfo(i)' class="btn btn-info" id="quotes-button" >Quote details</button>
          </div> 
          
           
        </div>
      </div>
    </div>
  
  </div>

