<!-- <ul *ngFor = 'let quote of quotes'>
    <div  *ngIf= 'quote.upvotes == highest; then highlight else empty'>

    </div>
 <ng-template #highlight>
    <li appHighlight>
        username:{{quote.name}} 
            <span>Quote:{{quote.quote}}</span> 
            Quote Author:{{quote.author}}
            <span class="text-primary">Upvotes:{{quote.upvotes}}</span>
            <span class="text-danger">Downvotes:{{quote.downvotes}}</span>
        </li>
 </ng-template>
 <ng-template #empty>
    <li>
        username:{{quote.name}} 
            <span>Quote:{{quote.quote}}</span> 
            Quote Author:{{quote.author}}
            <span class="text-primary">Upvotes:{{quote.upvotes}}</span>
            <span class="text-warning">Downvotes:{{quote.downvotes}}</span>
        </li>
 </ng-template>

    
</ul> -->
